body::-webkit-scrollbar{
    display: none;
}

*{
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-bold {
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  font-style: normal;
}

#hero-news{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("./Assets/rolex-watches.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 500px;
}

.card-img-top{
  height: 35vh;
  object-fit: contain;
}